<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    F5 Coin
  </h1>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f9/F5_Networks_logo.svg/1200px-F5_Networks_logo.svg.png" height="200">
</div>

<h2>
  Value from contract
</h2>
<h3>
  <a target="_blank" href="https://rinkeby.etherscan.io/token/0x2ef76b22c586843d69d0b4eed1b6b72df2e6623f">
    (F5 Token on Etherscan)
  </a>
</h3>

<table id="accountsTable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Hash</th>
    <th>Balance</th>
    <th>Transfer</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let account of accounts" [class.active-user]="account === userAccount"
      [class.stam-user]="account !== userAccount">
    <td>{{account.name}}</td>
    <td>{{account.id}}</td>
    <td>{{account.hash}}</td>
    <td>{{account.balance}}</td>
    <td class="transfer">
      <label for="transferInput">Amount: </label>
      <input #transferAmount id="transferInput" maxlength="4" size="4" type="number" ngModel="account.transferAmount"/>
      <button (click)="transfer(userAccount.hash,  account.hash, transferAmount.value)">Transfer!</button>
    </td>

  </tr>
  </tbody>
</table>
